.cart{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    margin-left: 24px;
    position: sticky;
    top: 28px;
    background-color: gray;
    border-radius: 20px;
    padding: 0 20px 10px;
    
}

.order-summary{
    font-size: 25px;
    line-height: 30px;
    color: #1C2B35;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 50px;  
}

.cart p {
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #2A414F;
}

.grand-total{
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
    margin-top: 25px;
    margin-bottom: 57px;
}